.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

form {
    margin-top: 50px;
    position: relative;
}

i {
    margin-top: 60px;
    position: absolute;
    margin-left: 20px;
}

input {
    margin-top: 40px;
}

#spacer{
    margin-bottom: 500px;
}