body {
    background-color: #fff;
  }

  .col-md-7 {
    margin-top: 25px;
  }

h2 {
    font-size: 20px;
  }
  

.caption {
    margin-right: 50px;
}

input.checkbox {
    margin-right: 8px;
}

button.btn {
    width: 320px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background: 0 0;
    border-radius: 8px;
    border: 1px solid #0e0e0e;
    color: white;
    background-color: #222;
}

#login-form {
  margin-top: 40px;
}

#login-form .mb-4 {
  margin: 0px;
}

#login-form button {
  margin-left: 30px;
}

#login-form p{
  font-size: 14px;
}

#login-button {
  text-align: center;
}