#profile-form{
    margin-left: 0px;
}

.sidebar {
    margin-top: 30px;
    margin-left: 20px;
}

.sidebar a{
    color: black;
}

#activity {
    margin-left: 100px;
    margin-bottom: 20px;
}

#activity-form {
    height: 35px;
    width: 200px;
}

#update-button{
    margin: 0px 0px 0px 230px;

}