#signup {
    margin-top: 60px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row input {
    border: 1px solid #c5c5c5;
    border-radius: 30px;
    margin: 20px 0px;
}

.signup input {
    width: 350px;
    height: 50px;
}

button {
    padding: 5px 40px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
}


p {
    font-size: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');


body {
  background-color: #fff;
}


h3 {
  font-family: SubstanceW00-Bold;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.half,
.half .container > .row {
  height: 100vh;
  min-height: 700px;
}

.half .btn-dark {
  height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  background: #111727;
  border-radius: 8px;
  border: none;
}

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
  color: #1e232b;
}

#signupimage {
  background-image: url("./images/signup.jpg");
  background-size: cover;
  background-position: center;
}

.col-md-6.bg-secondary {
  position: relative;
}

.col-md-6.bg-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.text-wrapper {
  position: absolute;
  bottom: 0;
  margin: 25px;
  z-index: 2;
}

.col-md-6.bg-secondary h1 {
  color: #f5f5f6;
  font-size: 35px;
}

@media (max-width: 991.98px) {
  .half .bg {
    height: 200px;
  }
}

.half .bg {
  width: 50%;
}

@media (max-width: 1199.98px) {
  .half .bg {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 14px;
  }
}

body {
  background-color: #fff;
}

.col-md-7 {
  margin-top: 25px;
}

h2 {
  font-size: 20px;
}


.caption {
  margin-right: 50px;
}

input.checkbox {
  margin-right: 8px;
}


#login-form {
margin-top: 40px;
}

#login-form .mb-4 {
margin: 0px;
}

#login-form button {
margin-left: 30px;
}

#login-form p{
font-size: 14px;
}

#login-button {
text-align: center;
}

#username {
height: 40px
}

#password {
height: 40px
}

#quote {
  font-family: 'Cormorant Garamond', serif;
}

#name {
  font-family:'Times New Roman', Times, serif
}

